@import "fonts.css";

body{
  background-color: #fffcf4;
}
.red {
  color: #ba271f;
}
body a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}

/*Шапка*/
header {
  line-height: 1!important; ;
  background-image: url("./img/header.png");
  background-size: cover;
  padding: 30px 0 65px 0;
}

header .logo {
  font-family: 'Lato Light', sans-serif;
  font-size: 60px;
  color: #fff;
}

.active {
  position: relative;
  top: 40px;
  left: 15px;
  border-bottom: 2px solid #ffffff;
  width: 95px;
}

header ul,
header li {
  display: block;
  padding: 0;
  margin: 0;

}

header a:hover {
  color: #ffffff;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-item:nth-child(-n+4) {
  margin-right: 65px;
}
.menu-item a {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

header .header-title h1{
  font-family: 'Open Sans Bold', sans-serif;
  color: #fff;
  margin-top: 70px;
  text-align: end;
}
header .header-title h1 {
  font-size: 60px;
}
header .header-text {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-size: 35px;
  color: #fff;
  margin-top: 80px;
  justify-content: flex-end;
}
.header-text p {
  margin-right: 40px;
  text-align: end;
}
header .form {
  justify-content: center;
}
header .form div{
  text-align: end;
}
header input,
header button {
  font-family: "Open Sans Regular", sans-serif;
  margin-top: 40px;
  width: 350px;
}
header input {
  font-size: 21px;
  padding: 20px 25px;
}
header button {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ba271f;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #faf1f0;
  border-left: 1px solid #efccca;
  border-top: 1px solid #bfbabc;
}

/*ПЕРЕВАГИ*/
.features .container {
  padding-bottom: 45px;
}
.body-tittle {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 45px;

  text-align: center;
  margin-bottom: 55px;
}
.item-title,
.item-text {
  font-family: "Open Sans Regular", sans-serif;
  color: #3e3e3e;
}
.item-title {
  font-size: 30px;
  line-height: 1.5;
}
.item-text {
  font-size: 15px;
  line-height: 2;
}

/*Доступні курси*/
.courses {
  background-color: #f0f0f0;
  padding-bottom: 50px;
}
.body-tittle {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 45px;
  padding: 45px 30px 0;
  text-align: center;
}
.body-text {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 25px;
  text-align: center;
}
.courses img {
  width: 225px;
  height: 225px;
}
.course-item img {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.course-item {
  background-color: #e8e8e1;
  width: 40%!important;
  margin-top: 20px!important;
  padding-top: 10px;
  padding-bottom: 20px;
}
.course-item:nth-child(2) {
  margin-left: 35px;
}
.course-item-title {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 25px;
  text-align: center;
}
.course-item-text,
.read-more{
  font-family: "Lato Regular", sans-serif;
  font-size: 17.5px;
  text-align: left;
  margin: 0;
}
.read-more a {
  text-decoration: none;
  color: #fa3a5e;
}
.button-reg {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 9.74px;
  width: 162px!important;
  background-color: #ba271f;
  color: #ffffff;
  padding: 10px;
  margin-top: 12px!important;
  border: 1px solid #fdfdfd;
}

/*Партнери*/
.partner-item img{
  margin-top: 35px;
  width: 299px;
  height: 283px;
}
.partner-name {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.container.partner-block {
  margin-left: 0!important;
  margin-right: 0!important;
}
.partner-prev:hover,
.partner-next:hover {
  cursor: pointer;
}

/*Promo*/
.promo {
  background-color: #a99473;
}
.promo-title {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 35px;
  color: #f5f5f5;
  padding-left: 15px;
  margin-bottom: 0;
  text-align: start;
}
.promo-img {
  background-image: url("./img/education.jpg");
  background-size: 1100px;
  background-repeat: no-repeat;
}
.promo-text {
  margin-top: 30px;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
  color: #f1f1f2;
  width: 350px;
}
.promo-button {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 30px;
  color: #ffffff;
  background-color: #ba271f;
  border-top: 1px solid #f9f8f6;
  border-bottom: 1px solid #cbbfab;
  border-left: 1px solid #e6e0d6;
  border-right: 1px solid #ebbfbd;
  padding: 20px 70px;
  margin-top: 50px;
  text-align: start;
}
.promo-block {
  padding: 42px 0 85px 95px!important;
}

/*Our Team*/
.our-team .container {
  padding-bottom: 55px;
}
.team-item {
  padding: 0!important;
}
.team-item .team-img {
  width: 255px;
  height: 255px;
}
.team-name {
  margin-top: 40px;
  font-family: "Lato Regular", sans-serif;
  font-size: 21.72px;
}
.team-text {
  font-family: "Lato Regular", sans-serif;
  font-size: 14.48px;
  padding: 0 69px;
}
.team-item .icons img{
  width: 25px;
  height: 25px;
}
.team-item .icons a:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

/*Form*/
section.form {
  font-family: "Open Sans Regular", sans-serif;
  color: #f3f3f3;
  background-color: #b4a184;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #d7ccb8;
}
.reg-title {
  font-size: 60px;
}
.reg-text {
  font-size: 25px;
  margin-bottom: 0;
}
section.form input {
  width: 545px;
  margin-top: 30px;
  padding: 20px 35px;
  font-family: 'Lato Regular', sans-serif;
  font-size: 25px;
}
section.form button {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: #ba271f;
  border: none;
  border-top: 1px solid #b67862;
  font-family: "Lato Regular", sans-serif;
  font-size: 25px;
  color: #fff;
}

/*Footer*/
footer {
  padding-top: 60px;
  background-color: #a99473;
  padding-bottom: 25px;
}
footer p {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 25px;
  color: #dfdfdf;
}
footer .icons img{
  width: 50px;
  height: 50px;
}
footer .icons {
  margin-top: 10px;
}
footer .icons a:nth-child(2){
  margin-right: 65px;
  margin-left: 65px;
}

/*Адаптація*/
@media only screen
and (min-device-width: 350px)
and (max-device-width: 575px){
  .our-team .row {
    margin-right: 0!important;
    margin-left: 0!important;
  }
  header {
    background-position-x: -111px!important;
  }
  header .logo {
    font-size: 50px;
  }
  header .col-7 {
    width: 100% !important;
  }
  .menu {
    display: block;
  }
  header .menu li {
    width: 100% !important;
    display: block;
    margin-top: 10px!important;
  }
  header .menu li a{
    font-size: 20px;
  }
  .active {
    display: none;
  }
  .header-title {
    width: 100% !important;
  }
  .header-title h1{
    font-size: 35px!important;
    text-align: center!important;
    width: 100% !important;
  }
  .header-text {
    width: 100% !important;
    font-size: 25px!important;
    justify-content: center!important;
    margin-top: 40px!important;
  }
  .header-text p {
    text-align: center;
    margin: 0!important;
  }
  header .form {
    justify-content: center!important;
    margin-right: 0!important;
  }
  header input,
  header button {
    font-size: 15px;
    padding: 15px 20px;
    width: 250px!important;
  }
  header .form div {
    text-align: center;
  }
  .body-tittle {
    font-size: 35px;
  }
  .body-text {
    font-size: 20px;
  }
  .course-item {
    width: 100% !important;
  }
  .course-item-title {
    font-size: 20px!important;
  }
  .course-item-text {
    font-size: 13px;
  }
  .course-item img {
    width: 150px;
    height: 150px;
  }
  .partner-item {
    width: 100%!important;
  }
  .partner-item img {
    width: 250px;
    height: 250px;
  }
  .team-item {
    margin-top: 30px!important;
    width: 100%!important;
  }
  .logo {
    text-align: center;
    margin: 0!important;
  }
  .nav-list {
    margin: 0!important;
    justify-content: center;
  }
  .features .col-4 {
    width: 100% !important;
    margin-top: 50px;
    display: block !important;
  }
  .promo-block {
    padding: 10px 0 20px 15px!important;
  }
  .promo-title {
    font-size: 20px!important;
    padding-left: 5px;
  }
  .promo-text {
    width: auto;
    font-size: 13px;
  }
  .promo-block button {
    font-size: 15px;
    padding: 15px 20px;
    margin-top: 50px;
  }
  .reg-title {
    font-size: 45px!important;
  }
  .reg-text {
    font-size: 20px!important;
  }
  section.form input {
    width: 320px;
    padding: 15px 25px;
    font-size: 20px;
  }
  .reg-button {
    padding: 15px 30px;
    font-size: 20px;
  }
  footer p {
    font-size: 20px;
  }
  footer .icons {
    width: 100% !important;
    text-align: center;
  }
  footer .icons img {
    width: 40px;
    height: 40px;
  }
  footer .icons a:nth-child(2) {
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media only screen
and (min-device-width: 576px)
and (max-device-width: 767px)
{
  header {
    background-position-x: -111px!important;
  }
  header .logo {
    font-size: 50px;
  }
  header .menu li a{
    font-size: 20px;
  }
  .active {
    display: none;
  }
  .header-title {
    width: 100% !important;
  }
  .header-title h1{
    font-size: 45px!important;
    text-align: center!important;
    width: 100% !important;
  }
  .header-text {
    width: 100% !important;
    font-size: 25px!important;
    justify-content: center!important;
    margin-top: 40px!important;
  }
  .header-text p {
    text-align: center;
    margin: 0!important;
  }
  header .form {
    justify-content: center!important;
    margin-right: 0!important;
  }
  header input,
  header button {
    font-size: 15px;
    padding: 15px 20px;
  }
  .body-tittle {
    font-size: 35px;
  }
  .body-text {
    font-size: 20px;
  }
  .course-item {
    width: 100% !important;
  }
  .partner-item {
    width: 100%!important;
  }
  .team-item {
    width: 100%!important;
    margin-top: 30px!important;
  }
  .logo {
    text-align: center;

    margin: 0!important;
  }
  .nav-list {
    margin: 0!important;
    justify-content: center;
  }
  .features .row div:nth-child(1) .short-div:nth-child(2){
    margin-top: 150px;
  }
  .features .row div:nth-child(3) .short-div:nth-child(2){
    margin-top: 75px;
  }
  .promo-block {
    padding: 10px 0 20px 15px!important;
  }
  .promo-title {
    font-size: 25px!important;
  }
  .promo-text {
    width: auto;
    font-size: 13px;
  }
  .promo-block button {
    font-size: 15px;
    padding: 15px 20px;
    margin-top: 50px;
  }
  .reg-title {
    font-size: 50px!important;
  }
  .reg-text {
    font-size: 20px!important;
  }
  footer.form input {
    width: 500px;
    padding: 15px 25px;
    font-size: 20px;
  }
  .reg-button {
    padding: 15px 30px;
    font-size: 20px;
  }
  footer p {
    font-size: 20px;
  }
  footer .icons {
    width: 100% !important;
    text-align: center;
  }
  footer .icons img {
    width: 40px;
    height: 40px;
  }
  footer .icons a:nth-child(2) {
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 991px)
{
  header {
    background-position-x: -111px!important;
  }
  .active {
    display: none;
  }
  .header-title {
    width: 100% !important;
  }
  .header-title h1{
    font-size: 50px!important;
    text-align: center!important;
    width: 100% !important;
  }

  .header-text {
    width: 100% !important;
    font-size: 25px!important;
    justify-content: center!important;
    margin-top: 40px!important;
  }
  .header-text p {
    text-align: center;
    margin: 0!important;
  }
  header .form {
    justify-content: center!important;
    margin-right: 0!important;
  }
  header input,
  header button {
    font-size: 15px;
    padding: 15px 20px;
  }
  header .form div {
    text-align: center;
  }
  .course-item {
    width: 75% !important;
  }
  .partner-item {
    width: 50%!important;
  }
  .team-item {
    width: 50%!important;
    margin-top: 30px!important;
  }
  .logo {
    text-align: center;

    margin: 0!important;
  }
  .nav-list {
    margin: 0!important;
    justify-content: center;
  }
  .promo-block {
    padding: 10px 0 20px 20px!important;
  }
  .promo-block button {
    font-size: 20px;
    padding: 15px 50px;
    margin-top: 50px;
  }
  .reg-title {
    font-size: 50px!important;
  }
  .reg-text {
    font-size: 20px!important;
  }
  footer.form input {
    width: 500px;
    padding: 15px 25px;
    font-size: 20px;
  }
  .reg-button {
    padding: 15px 30px;
    font-size: 20px;
  }
  footer p {
    font-size: 20px;
  }
  footer .icons img {
    width: 45px;
    height: 45px;
  }
}
@media only screen
and (min-device-width: 992px)
and (max-device-width: 1139px)
{
  .active {
    left: 60px;
  }

  .header-title h1{
    font-size: 50px!important;
  }
  .header-text {
    font-size: 25px!important;
  }
  header .form div {
    text-align: center;
  }
  .course-item {
    width: 55% !important;
  }
  .partner-item {
    width: 50%!important;
  }
  .team-item {
    width: 50%!important;
    margin-top: 30px!important;
  }
  .logo {
    text-align: center;
    margin: 0!important;
  }
  .nav-list {
    margin: 0!important;
    justify-content: center;
  }
}

@media only screen
and (min-device-width: 1140px)
and (max-device-width: 1400px)
{
  .active {
    left: 60px;
  }

  .header-title h1{
    font-size: 50px!important;
  }
  .header-text {
    font-size: 25px!important;
  }
  .course-item {
    width: 55% !important;
  }
  .partner-item {
    width: 50%!important;
  }
  .team-item {
    width: 50%!important;
    margin-top: 30px!important;
  }
  .logo {
    text-align: center;

    margin: 0!important;
  }
  .nav-list {
    margin: 0!important;
    justify-content: center;
  }
}
@media only screen
and (max-device-width: 1400px) {
  header {
    background-position-x: -50px;
  }
  .logo {
    width: 100%!important;
    text-align: center;
  }
  .nav-list {
    width: 100%!important;
  }
  .menu {
    margin-top: 30px;
    justify-content: center;
  }
  .menu-item {
    text-align: center;
    margin: 0!important;
    width: 20%!important;
  }
  .course-item {
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .partner-prev,
  .partner-next {
    display: none;
  }
}



