@font-face {
    font-family: 'Lato Light';
    src: url("fonts/Lato-Light.ttf");
}
@font-face {
    font-family: 'Lato Regular';
    src: url("fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'Open Sans Light';
    src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: 'Open Sans SemiBold';
    src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url("fonts/OpenSans-Bold.ttf");
}